/build
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
phpunit.xml
yarn-error.log

# IDE/Editor files
nbproject
.idea/workspace.xml
.idea/vcs.xml

# Local Lando configuration
.lando.local.yml
