# 1. Keep lines sorted alphabetically in this file
# 2. Do not add OS or IDE specific lines here — do it in the global .gitignore: https://gist.github.com/subfuzion/db7f57fff2fb6998a16c
# -----------------------
/build
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.lando.local.yml
.phpunit.result.cache
.php-cs-fixer.cache
composer.lock
phpunit.xml
